<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Crear Pedido Venta</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <ion-item>
    <ion-label color="primary" position="floating">Id</ion-label>
    <ion-input [(ngModel)]="data.$id" type="text"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label color="primary" position="floating">Número de Pedido</ion-label>
    <ion-input [(ngModel)]="data.doc_num" type="text" placeholder="Ingrese un número de pedido"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label color="primary" position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="data.descrip" type="text" placeholder="Ingrese una Descripción"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Cliente</ion-label>
   
    <ion-button (click)="openModal()">Listado</ion-button>
   
      <ion-input type="text" [(ngModel)]="data.co_cli" *ngIf="cliente"></ion-input>
  </ion-item>
  
  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Transporte</ion-label>
    <ion-input [(ngModel)]="data.co_tran" type="text" required value="01" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Moneda</ion-label>
    <ion-input [(ngModel)]="data.co_mone" type="text" value="BS"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Vendedor</ion-label>
    <ion-input [(ngModel)]="data.co_ven" type="number" required></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Condición de Pago</ion-label>
    <ion-input [(ngModel)]="data.co_cond" type="number" required value="01" disabled></ion-input>
  </ion-item>
  
  <ion-item id="fecha">
    <ion-label color="primary" position="floating">Fecha de Emisión</ion-label>
    <script type="text/javascript"></script>
    <ion-datetime [(ngModel)]="data.fec_emis" (ionChange)="updateDate()" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" value="Date()" default="Date()" required></ion-datetime>
  </ion-item>

  <ion-item id="fecha" style="display: none;">
    <ion-label color="primary" position="floating">Fecha de Vencimiento</ion-label>
    <ion-datetime [(ngModel)]="data.fec_venc" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" value="Date()" default="Date()" required></ion-datetime>
  </ion-item>

  <ion-item id="fecha" style="display: none;">
    <ion-label color="primary" position="floating">Fecha de Registro</ion-label>
    <ion-datetime [(ngModel)]="data.fec_reg" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" required value="Date()" ></ion-datetime>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Anulado</ion-label>
    <ion-input [(ngModel)]="data.anulado" type="boolean" required value="false" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Status</ion-label>
    <ion-input [(ngModel)]="data.status" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Ven Ter</ion-label>
    <ion-input [(ngModel)]="data.ven_ter" type="boolean" required value="false" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Tasa</ion-label>
    <ion-input [(ngModel)]="data.tasa" type="number" required value="1" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Desc Glob</ion-label>
    <ion-input [(ngModel)]="data.monto_desc_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Reca</ion-label>
    <ion-input [(ngModel)]="data.monto_reca" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Total Bruto</ion-label>
    <ion-input [(ngModel)]="data.total_bruto" type="number" required value="0"></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Imp</ion-label>
    <ion-input [(ngModel)]="data.monto_imp" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Imp2</ion-label>
    <ion-input [(ngModel)]="data.monto_imp2" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Imp3</ion-label>
    <ion-input [(ngModel)]="data.monto_imp3" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros1</ion-label>
    <ion-input [(ngModel)]="data.otros1" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros2</ion-label>
    <ion-input [(ngModel)]="data.otros2" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros3</ion-label>
    <ion-input [(ngModel)]="data.otros3" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Total Neto</ion-label>
    <ion-input [(ngModel)]="data.total_neto" type="number" required value="0"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Saldo</ion-label>
    <ion-input [(ngModel)]="data.saldo" type="number" required value="0"></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Contrib</ion-label>
    <ion-input [(ngModel)]="data.contrib" type="boolean" required value="true" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Impresa</ion-label>
    <ion-input [(ngModel)]="data.impresa" type="boolean" required value="false" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Co_Us_In</ion-label>
    <ion-input [(ngModel)]="data.co_us_in" type="text" required value="ZAINIE" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Fe_Us_In</ion-label>
    <ion-datetime [(ngModel)]="data.fe_us_in" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" value="Date.now()" default="Date.now()" required ></ion-datetime>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Co_Us_Mo</ion-label>
    <ion-input [(ngModel)]="data.co_us_mo" type="text" required value="ZAINIE" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Fe_Us_Mo</ion-label>
    <ion-datetime [(ngModel)]="data.fe_us_mo" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" value="Date.now()" default="Date.now()" required ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Número de Renglon</ion-label>
    <ion-input [(ngModel)]="data2.reng_num" type="number" placeholder="Ingrese un número de renglon"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Número del Documento</ion-label>
    <ion-input [(ngModel)]="data2.doc_num" type="text" placeholder="Ingrese un número de pedido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Artículos</ion-label>
   
    <ion-button href="/">Listado</ion-button>
   
      <ion-input type="text" [(ngModel)]="data2.co_art"></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Almacen</ion-label>
    <ion-input [(ngModel)]="data2.co_alma" type="text" required value="01" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Cantidad de Articulos</ion-label>
    <ion-input [(ngModel)]="data2.total_art" type="number" required></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">stotal_art</ion-label>
    <ion-input [(ngModel)]="data2.stotal_art" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Tipo de Unidad</ion-label>
    <ion-select placeholder="" [(ngModel)]="data2.co_uni">
      <ion-select-option value="CAJA">Caja</ion-select-option>
      <ion-select-option value="BULTO">Bulto</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Codigo de Precio</ion-label>
    <ion-input [(ngModel)]="data2.co_precio" type="text" required value="01" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Precio de Venta</ion-label>
    <ion-input [(ngModel)]="data2.prec_vta" type="number" required></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Desc</ion-label>
    <ion-input [(ngModel)]="data2.monto_desc" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Impuesto</ion-label>
    <ion-select placeholder="" [(ngModel)]="data2.tipo_imp">
      <ion-select-option value="1">16%</ion-select-option>
      <ion-select-option value="7">Excento</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Porcentaje de Impuesto</ion-label>
    <ion-input [(ngModel)]="data2.porc_imp" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Porc Imp 2</ion-label>
    <ion-input [(ngModel)]="data2.porc_imp2" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Porc Imp 3</ion-label>
    <ion-input [(ngModel)]="data2.porc_imp3" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Monto con Impuesto</ion-label>
    <ion-input [(ngModel)]="data2.monto_imp" type="number" required></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Imp 2</ion-label>
    <ion-input [(ngModel)]="data2.monto_imp2" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto Imp 3</ion-label>
    <ion-input [(ngModel)]="data2.monto_imp3" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" position="floating">Renglon Neto</ion-label>
    <ion-input [(ngModel)]="data2.reng_neto" type="number" required></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Pendiente</ion-label>
    <ion-input [(ngModel)]="data2.pendiente" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Pendiente2</ion-label>
    <ion-input [(ngModel)]="data2.pendiente2" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Lote Asignado</ion-label>
    <ion-input [(ngModel)]="data2.lote_asignado" type="boolean" required value="false" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto_desc_glob</ion-label>
    <ion-input [(ngModel)]="data2.monto_desc_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto_reca_glob</ion-label>
    <ion-input [(ngModel)]="data2.monto_reca_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros1_glob</ion-label>
    <ion-input [(ngModel)]="data2.otros1_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros2_glob</ion-label>
    <ion-input [(ngModel)]="data2.otros2_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros3_glob</ion-label>
    <ion-input [(ngModel)]="data2.otros3_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto_imp_afec_glob</ion-label>
    <ion-input [(ngModel)]="data2.monto_imp_afec_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto_imp2_afec_glob</ion-label>
    <ion-input [(ngModel)]="data2.monto_imp2_afec_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto_imp3_afec_glob</ion-label>
    <ion-input [(ngModel)]="data2.monto_imp3_afec_glob" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Total_dev</ion-label>
    <ion-input [(ngModel)]="data2.total_dev" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Monto_dev</ion-label>
    <ion-input [(ngModel)]="data2.monto_dev" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Otros</ion-label>
    <ion-input [(ngModel)]="data2.otros" type="number" required value="0" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Co_Us_In</ion-label>
    <ion-input [(ngModel)]="data2.co_us_in" type="text" required value="ZAINIE" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Fe_Us_In</ion-label>
    <ion-datetime [(ngModel)]="data2.fe_us_in" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" value="Date.now()" default="Date.now()" required ></ion-datetime>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Co_Us_Mo</ion-label>
    <ion-input [(ngModel)]="data2.co_us_mo" type="text" required value="ZAINIE" disabled></ion-input>
  </ion-item>

  <ion-item style="display: none;">
    <ion-label color="primary" position="floating">Fe_Us_Mo</ion-label>
    <ion-datetime [(ngModel)]="data2.fe_us_mo" displayFormat="D MMM YYYY H:mm" min="1997" max="2050" value="Date.now()" default="Date.now()" required ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="submitForm()">Agregar
    </ion-button>
  </ion-item>
 
</ion-content> 