<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-grid>
    <ion-row style="font-weight: bold;">
      <ion-col>ID</ion-col>
      <ion-col>Código del Cliente</ion-col>
      <ion-col>Descripción</ion-col>
      <ion-col>Dirección</ion-col>
      <ion-col>Acciones</ion-col>
    </ion-row>

    <ion-row *ngFor="let item of clientesData">
      <ion-col>{{ item.$id }}</ion-col>
      <ion-col>{{ item.co_cli }}</ion-col>
      <ion-col>{{ item.des_cli }}</ion-col>
      <ion-col>{{ item.direc1 }}</ion-col>
      <ion-col style="display: flex">
        <ion-button color="warning" size="small" routerLink='/edit/{{item.id}}'>
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" size="small" (click)="delete(item)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button [routerLink]="['/']">
    Agregar Cliente
  </ion-button>
</ion-content>
