<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pedidos DNT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item href="/list" class="ion-activated">
      <ion-icon name="cube-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="/cliente-list" class="ion-activated">
      <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="cart-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
