<ion-header>
  <ion-toolbar text-center>
    <ion-title>Listado de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar ></ion-searchbar>
  <ion-list text-center *ngFor="let item of clientesData" (click)="salirModal(item)">
    <ion-item>
      <ion-label>{{item.co_cli}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Cerrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
